html, 
body {
	margin:0px;
	background-color: white
	height: 100%;
	text-align: center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
h1{
	margin-bottom: 5%;
}
div{
	width:15%;  
	display: inline-block;
	margin-top: 5%;
	margin-bottom: 5%;
}
footer{
	display: block;
	text-align: center;
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.footer-img-heart {
    width: 0.7em;
}
.footer-img-logo {
    width: 5em;
}
img {
    vertical-align: middle;
    border:0;
}
